.form-card {
  max-width: 650px;
  margin: 40px auto;
  background: var(--card-bg);
  color: var(--text);
  padding: 24px;
  border: 4px solid var(--primary);
  border-radius: 12px;
}
h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--text);
}
select option {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
select option:checked,
select option:active {
  padding: 10px 20px;
  background-color: #7495c2 !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
}

.btn-primary {
  background: #7495c2;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.btn-primary:hover {
  opacity: 0.9;
}
